{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "^next/(.*)$",
    "^react$",
    "",
    "^@app/(.*)$",
    "",
    "^[./]"
  ]
}
